<div class="row">
	<h1 class="display-3">Ciencia de Datos</h1>
	<p class="lead">Algunas experiencias con ciencia de datos</p>
</div>
<hr>
<div class="row">
<p>
	Algunos de mis proyectos en data science
</p>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Clasificación musical utilizando k-means y CNN
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Ánalisis de segmentos musicales en musica Dance</h5>
	    <p class="card-text">Proyecto de maestria que desarrollé para la universidad EAFIT en el cual analizo musica dance y electrónica para determinar que segmentos son similares y poder agruparlos para generar canciones similares y poder recomendarlas</p>
	    <a href="https://github.com/cabymetal/audio_analysis" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Analisis de toxicidad
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Analisis de comentarios de twitter</h5>
	    <p class="card-text">proyecto que va desde la captura de información de tweets hasta la clasificación de comemtarios segun su nivel de toxicidad</p>
	    <a href="https://github.com/cabymetal/proyecto_integrador/tree/master" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>