<div class="row">
	<h1 class="display-3">Otros proyectos</h1>
	<p class="lead">Miscelanea en programación y datawarehouses</p>
</div>
<hr>
<div class="row">
<p>
	Desarrollo en datawarehouses, shell scripts, Snowflake scripts entre otros
</p>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Snowflake scripts
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Snowflake process to consume data</h5>
	    <p class="card-text">Snowflake stream to consume data from a stage</p>
	    <a href="" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>