<div class="row">
	<h1 class="display-3">Acerca de esta página</h1>
	<p class="lead">Página principal de muestra de proyectos</p>
</div>
<hr>
<div class="row">
<p>
	En este sitio pretendo mostrar algunos de mis aprendizajes y proyectos que podrán ver más en detalle en mi sitio de github y gitlab <a href="https://gitlab.com/cabymetal">sitio gitlab</a> y otros más en <a href="https://github.com/cabymetal">GitHub</a>
</p>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Analisis sentimientos en AWS
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Implementación de una arqutectura lambda en AWS</h5>
	    <p class="card-text">En este proyecto se implementa desde el consumo del api de tweeter utilizando tweepy hasta el consumo en tiempo real utilizando Kafka y kinesis en una instancia de EC2</p>
	    <a href="https://github.com/cabymetal/aws_lambda_architecture_tweet_analysis" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>