<div class="row">
	<h1 class="display-3">Programación</h1>
	<p class="lead">Algunas experiencias en desarrollo</p>
</div>
<hr>
<div class="row">
<p>
	Muestra de algunos ejercicio de programación que realizo en Leetcode y de algunos proyectos que he desarrollado durante mi experiencia laboral utilizando Python
</p>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    ETL Python a la medida
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Implementación de un ETL a la medida</h5>
	    <p class="card-text">En este proyecto se implementa un proyecto capaz de tomar datos csv y llevarlos a una base de datos MySQL, puede soportar archivos de grandes tamaños, se implementa logging, manejo de errores y resumir en caso de errores utilizando procesamiento por lotes, submódulos de git, expresiones regulares para extracción de valores de los datos entre otras cosas (dockerización algunos tests). Para poder ver este repositorio puedes solicitar acceso en mi correo personal.</p>
	    <a href="mailto:carlosalbertomurillomartinez@gmail.com"
	    Subject="Solicitud acceso repositorio ETL" class="btn btn-primary">Solicitar acceso</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Ejercicios programación
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">Algunos ejercicios de programación desarrollados de Leetocode</h5>
	    <p class="card-text">Algunos ejercicios resueltos de la plataforma Leetcode para estudiar y desarrollar ejercicios (preferiblemente en Python)</p>
	    <a href="" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>