<div class="row">
	<h1 class="display-3">Visualización</h1>
	<p class="lead">proyectos de visualización tableros de control y gráficas</p>
</div>
<hr>
<div class="row">
<p>
	En visualización ademas de haber utilizado software tengo experiencia desarrollando tableros de control usando plotly dash
</p>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Tablero de control usando plotly dash
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">tablero de control en plotly Dash</h5>
	    <p class="card-text">Tablero de control en potly dash bootstrap con manejo de cache e implementación de funcionalidades a la medida</p>
	    <a href="https://gitlab.com/cabymetal/dashboard_oasis/-/tree/main?ref_type=heads" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<div class="card">
	  <div class="card-header">
	    Trabajando con mapas
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">TopoJSON</h5>
	    <p class="card-text">working with a topojson file to add data</p>
	    <a href="https://github.com/cabymetal/colombian_map" class="btn btn-primary">Ir al repositorio</a>
	  </div>
	</div>
</div>
<div class="col-2"></div>
</div>